<div >
	<h1>Distributed storage network</h1>
	<h2 class="underline">Dec 15, 2019</h2>
    <p>
		Win grant of the Fund for the
		Promotion of the Development of Small Forms of Enterprises in the
		Scientific and Technical Field (Innovation Promotion Fund)
		<a href="http://fasie.ru/">http://fasie.ru/</a>
    </p>
	<h2 class="underline">Oct 10, 2019</h2>
    <p>
		New VDS prototype:
	</p>
	<p>
		<iframe id="ytplayer" type="text/html" width="640" height="360"
  src="http://www.youtube.com/embed/VuzGWoEsNYE?autoplay=0&origin=http://ivy-soft.com/"
  frameborder="0" />
    </p>
</div>
