<div class="mdc-layout-grid">
	<div class="mdc-layout-grid__inner">
		<div
			class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
			<h1>Software House</h1>
			<h3 class="underline">We love to create:</h3>
			<p>
				<ul>
					<li><a href="/products/vds/">Distributed Storage and Processing</a> Systems</li>
					<li>Blockcahin and cryptocurrency solutions (Bitcoin, BitShares and etc)</li>
					<li>Machine Learning Systems</li>
					<li>CCTV systems</li>
					<li>Smart Home Software</li>
					<li>Portals for smart people</li>
				</ul>
			</p>

			<h3 class="underline">We also help with software development:</h3>
			<p>
				<ul>
					<li>Team building</li>
					<li>Create system architecture</li>
					<li>IT Audit</li>
					<li>Reporting systems</li>
					<li>IT strategy</li>
					<li>Tool selection</li>
				</ul>
			</p>
			<h3 class="underline">Do you want to work with us?</h3>
			<p>
				<ul>
					<li>Mail: <a href="mailto:contact@iv-soft.ru">contact@iv-soft.ru</a></li>
					<li>Telegram/WhatsApp: @lboss75</li>
				</ul>
			</p>
			<h3 class="underline">Besides:</h3>
			<p>
				<ul>
					<li>This site does not use cookies and does not follow you. Therefore, we did not get annoying
						warning about this.</li>
					<li>We do not lead public life on social networks. The privacy of our customers comes first.</li>
					<li>Want to know more about us, write to e-mail. We are glad to communicate.</li>
					<li>We reserve the right not to work with you.</li>
					<li>We participate for free in open source projects only if we find it interesting.</li>
				</ul>
			</p>
		</div>
	</div>
</div>