<div >
    <h3>Software House</h3>
	<h2 class="underline">August 15, 2019</h2>
    <p>
		New project based on the BitCoin SV: fully decentralized exchange.
    </p>
	<h2 class="underline">March 15, 2019</h2>
    <p>
		New project based on the Ethereum network (<a href="https://ethereum.org/">https://ethereum.org/</a>).
		Web portal for collecting investments in socially significant projects.
    </p>
	<h2 class="underline">Feb 15, 2019</h2>
    <p>
		New project based on the BitShared network: exchange decentralized wallet.
    </p>
</div>
