<div class="mdc-layout-grid">
	<div class="mdc-layout-grid__inner">
		<div
			class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
			<h1>Software House</h1>
			<h2 class="underline">Problems</h2>
			<p>
				<ul>
					<li>The high cost of developers for most companies (startups and medium-sized companies),</li>
					<li>Incomplete employment of highly qualified resources, at their high cost,</li>
					<li>Low quality products, due to lack of money for highly qualified resources,</li>
					<li>Lack of support and quality control services, due to lack of experience in building such services,</li>
					<li>Training IT service employees on best practices,</li>
				</ul>
			</p>
			<h2 class="underline">Solutions</h2>
			<p>
				<ul>
					<li>The spin-off of a professionally developing product company (Software House),</li>
					<li>Separation of the business part of the implementation and branding into a separate business (Business House),</li>
					<li>The motivation of Software House through the allocation of a share in the Business House business,</li>
					<li>Identification of an initiative unit for the development of new products,</li>
				</ul>
			</p>
			<h2 class="underline">Our benefits</h2>
			<p>
				<ul>
					<li>The presence of a pool of highly professional IT specialists,</li>
					<li>The growth of business products and teams for them,</li>
					<li>Adequate product quality control,</li>
					<li>Training new employees,</li>
				</ul>
			</p>
			<h3 class="underline">General way:</h3>
			<p>
				<ul >
					<li>We provide services to start-ups and other similar businesses: when you need to quickly prototype or bring a product to the market, quickly and relatively high quality.</li>
					<li>We are responsible for recruiting teams and manufacturing products,</li>
					<li>Typical is the issuance of 20% of the share of the product towards to us (as a result, we are interested in the long-term life of the product),</li>
				</ul>
			</p>
		</div>
	</div>
</div>