<div class="mdc-layout-grid">
	<div class="mdc-layout-grid__inner">
		<div
			class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
			<h1>Распределённая сеть хранения данных</h1>
			<h2 class="underline">Идея</h2>
			<p>
				Практически у каждого человека на земле, который имеет компьютер на жестком
	диске этого компьютера есть свободное место. Кроме этого, свободное место
	есть в сотовом телефоне и других устройствах. И это свободное место не как
	не используется. Однако если мы хотим надежно сохранить важные для нас
	документы или фотографии своих детей, мы вынуждены использовать облачные
	сервисы других компаний для хранения наших данных.
			</p>
			<p>
				Тут на лицо противоречие: с одной стороны, у нас как у общества много
	свободного места для хранения наших данных, но мы его не используем,
	а используем сервисы компаний, которые могут обанкротиться или не
	соблюдают нашу конфиденциальность.
			</p>
			<p>
				Поэтому мы разработали технологию, по которой мы объединяем свободные
	ресурсы всех участников в одно большое хранилище данных, и предоставляем
	этим участникам хранить их данные распределённо у других участников сети.
	Для этого ваши данные шифруются и разрезаются на много маленьких кусочков,
	после этого эти кусочки распределяются по всем участникам таким образом,
	чтобы даже потеря некоторого количества таких кусочков не приводила
	бы к потере данных.
			</p>
			<h2 class="underline">Детали решения</h2>
			<p>
				<img src="/assets/images/how_it_works.png" width="400em" />
			</p>
			<p>
				Разработанная нами технология распределённого хранения данных:
				<ul>
					<li>Пользователи объеденяют свои ресурсы в единое хралищие данных,</li>
					<li>Пользователи которым нужно больше ресурсов платят тем у кого избыток ресурсов,</li>
					<li>Все данные шифруются криптостойкими алгоритмами,</li>
					<li>Полностью децентрализованный алгоримт реализует саморегулируемую и стабильную систему.</li>
				</ul>
			</p>
			<h2 class="underline">Использование</h2>
			<p><img src="/assets/images/business_model.png" width="400em" /></p>
			<p>
				Бизнес модель:
				<ul>
					<li>Пользователи устанавливают себе приложение наш агент, и мы платим такому пользователю 0.2 рубля за каждый Гигабайт хранимых у него данных каждый месяц.</li>
					<li>Мы продаём ресурсы хранения данных по цене 1 рубль за каждый Гигабайт хранимых данных в месяц. 
					Нашими клиентами являются:
						<ol>
							<li>Системы безопастности для хранения большого объёма видео файлов,</li>
							<li>Системы резервного копирования,</li>
							<li>Сервисы видео-хостинга, и так далее.</li>
						</ol>
					</li>
				</ul>
			</p>
		</div>
	</div>
</div>