<div class="body-header">
    <h1 class="mdc-typography--headline1">Разработчик Цифрового Мира</h1>
</div>
<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
      @component("card", new System.Collections.Generic.Dictionary<string, object> {
        ["Image"] = "/assets/images/big_data_center_server_racks_storage_binary_analytics_by_monsitj_gettyimages.jpg",
        ["Title"] = "Распределённое хранение данных",
        ["Body"] = "Свободная распределённая сеть хранения данных для важных данных",
        ["SubTitle"] = "Анонимно, полное шифрование ваших данных, нет зависимости от компаний или государств",
        ["Actions"] = new md_template.action_item[] {
          new md_template.action_item { title = "Обзор", target = "/products/vds/get_started/" },
          new md_template.action_item { title = "Как это работает", target = "/products/vds/how_it_works/" },
          new md_template.action_item { title = "Новости", target = "/products/vds/" }
        }})
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
      @component("card", new System.Collections.Generic.Dictionary<string, object> {
        ["Image"] = "/assets/images/software_house.jpg",
        ["Title"] = "Разработка",
        ["Body"] = "Разработка под ключ",
        ["SubTitle"] = "Распределённые системы, Blockcahin, Машинное обучение и другие высокие технологии",
        ["Actions"] = new md_template.action_item[] {
          new md_template.action_item { title = "Обзор", target = "/products/development/get_started/" },
          new md_template.action_item { title = "О Компании", target = "/products/development/about_us/" },
          new md_template.action_item { title = "Новости", target = "/products/development/" }
        }})
    </div>
  </div>
</div>
