<div class="mdc-layout-grid">
	<div class="mdc-layout-grid__inner">
		<div
			class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
			<h1>Distributed storage network</h1>
			<h2 class="underline">Data is everywhere</h2>
			<p><img src="/assets/images/data_is_everywhere.png" height="300em" /></p>
			<p>
				A huge amount of data is generated every day:
				<ul>
					<li>The results of the employees’ work are: working papers, accounting databases, enterprise
						portals
						data, commercial activities data, HR and office management data</li>
					<li>Security systems data: employee actions audit, video surveillance, call center phone
						recording
					</li>
					<li>Infrastructure data: backup copies of file and database servers</li>
				</ul>
			</p>
			<p>
				Our solution carries a great social burden: it allows society to collect and
				store data that is important for itself together. We think our technologies will be
				in great demand where high reliability and complete data confidentiality are valued.
			</p>
			<h2 class="underline">Issue</h2>
			<p><img src="/assets/images/data_issue.png" width="400em" /></p>
			<p>
				How to make the data stored <b>securely, safely and not expensive?</b>
				<ul>
					<li>Data storage reliability:
						<ol>
							<li>Servers are down,</li>
							<li>Data centers burn, shut down, are captured,</li>
							<li>Cloud services companies go bankrupt.</li>
						</ol>
					</li>
					<li>Data storage cost:<ol>
							<li>More than 1,3 rubles for a Gigabyte of data storage,</li>
							<li>Internet traffic cost.</li>
						</ol>
					</li>
					<li>Data access:
						<ol>
							<li>Data centers are far away, access time is increasing,</li>
							<li>The same data downloads many times,</li>
							<li>Data is not encrypted.</li>
						</ol>
					</li>
				</ul>
			</p>
			<p>
				In our troubled age, our solution allows us not to care about global crises,
				bankruptcy of companies or even states: our distributed data storage technologies
				are supported by the participants of the society.
			</p>
			<h2 class="underline">Solution</h2>
			<p><img src="/assets/images/solution.png" width="400em" /></p>
			<p>
				Modern P2P networks (peer-to-peer) technologies solve many problems:
				<ul>
					<li>Distributed network does not burn, does not go bankrupt and does not fail</li>
					<li>Possibility to use unused resources of computers significantly reduces the cost of these
						resources,</li>
					<li>Built-in self-organization mechanisms optimize data access routes.</li>
				</ul>
			</p>
			<p>
				Almost every person on earth who has a computer on the hard drive of this
				computer has free space. In addition, there is free space in the cell phone
				and other devices. And this free space is not used. However, if we want to
				reliably keep important for us documents or photographs of our children,
				we are forced to use the cloud services of other companies to store our data.
			</p>
			<p>
				There is a contradiction here: on the one hand, we as a society have a
				lot of free space for storing our data, but we do not use it, but use
				the services of companies that may go bankrupt or do not respect our privacy.
			</p>
			<p>
				Therefore, we have developed a technology by which we combine the free
				resources of all participants in one large data warehouse, and provide
				these participants to store their data distributed among other network
				participants. To do this, your data is encrypted and cut into many small
				pieces, after which these pieces are distributed to all participants in
				such a way that even the loss of a certain amount of such pieces would not lead to data loss.
			</p>
			<h2 class="underline">Thanks</h2>
			<p>
				The project is being developed with the support of the Fund for the
				Promotion of the Development of Small Forms of Enterprises in the
				Scientific and Technical Field (Innovation Promotion Fund)
				<a href="http://fasie.ru/">http://fasie.ru/</a>
			</p>
		</div>
	</div>
</div>