<div class="mdc-layout-grid">
	<div class="mdc-layout-grid__inner">
		<div
			class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
			<h1>Distributed storage network</h1>
			<h2 class="underline">Idea</h2>
			<p>
				Almost every person on earth who has a computer on the hard drive of this
				computer has free space. In addition, there is free space in the cell phone
				and other devices. And this free space is not used. However, if we want to
				reliably keep important for us documents or photographs of our children,
				we are forced to use the cloud services of other companies to store our data.
			</p>
			<p>
				There is a contradiction here: on the one hand, we as a society have a
				lot of free space for storing our data, but we do not use it, but use
				the services of companies that may go bankrupt or do not respect our privacy.
			</p>
			<p>
				Therefore, we have developed a technology by which we combine the free
				resources of all participants in one large data warehouse, and provide
				these participants to store their data distributed among other network
				participants. To do this, your data is encrypted and cut into many small
				pieces, after which these pieces are distributed to all participants in
				such a way that even the loss of a certain amount of such pieces would not lead to data loss.
			</p>
			<h2 class="underline">Solution details</h2>
			<p>
				<img src="/assets/images/how_it_works.png" width="400em" />
			</p>
			<p>
				Distributed data storage technology was developed:
				<ul>
					<li>Users around the world provide their resources in a shared cloud storage,</li>
					<li>Users in need of storage resources pay users who have these resources excess,</li>
					<li>All data is encrypted with crypto-resistant algorithms ensuring reliable storage,</li>
					<li>Fully decentralized algorithms provide self-regulation and system stability.</li>
				</ul>
			</p>
			<h2 class="underline">Usage</h2>
			<p><img src="/assets/images/business_model.png" width="400em" /></p>
			<p>
				The business model:
				<ul>
					<li>Users set our agent, and we pay such users 0.2 rubles for each Gigabyte of stored data per
						month.</li>
					<li>We sell storage resources for 1 ruble for each Gigabyte of stored data per month. These
						resources are interesting for:
						<ol>
							<li>Security systems for storing video surveillance files,</li>
							<li>Backup data centers,</li>
							<li>Video hosting services, etc.</li>
						</ol>
					</li>
				</ul>
			</p>
		</div>
	</div>
</div>