<div>
    <h1>Products</h1>
    <h2 class="underline">Distributed storage network</h2>
    <p>
        <ul>
            <li><a href="/products/vds/get_started/">Get Started</a></li>
            <li><a href="/products/vds/how_it_works/">How it works</a></li>
            <li><a href="/products/vds/">News</a></li>
        </ul>
    </p>
    <h2 class="underline">Software House</h2>
    <p>
        <ul>
            <li><a href="/products/development/get_started/">Get Started</a></li>
            <li><a href="/products/development/about_us/">About Us</a></li>
            <li><a href="/products/development/">News</a></li>
        </ul>
    </p>
</div>