<div class="mdc-layout-grid">
	<div class="mdc-layout-grid__inner">
		<div
			class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
			<h1>Разработка</h1>
			<h3 class="underline">Мы любим создавать:</h3>
			<p>
    <ul >
        <li>Системы <a href="/products/vds/">распределённого хранения и обработки данных</a></li>
        <li>Решения в области blockcahin и криптовалют (Bitcoin, BitShares и тому подобное).</li>
        <li>Системы на базе машинного обучения</li>
        <li>Системы видеонаблюдения</li>
        <li>Программное обеспечение для умных домов</li>
        <li>Порталы для умных людей</li>
    </ul>
			</p>

			<h3 class="underline">А ещё мы помогаем с разработкой программного обеспечения:</h3>
			<p>
    <ul >
        <li>формирование команд</li>
        <li>проработка архитектуры</li>
        <li>аудит деятельности</li>
        <li>системы отчётности</li>
        <li>формирование ИТ стратегии</li>
        <li>подбор инструментария</li>
				</ul>
			</p>
			<h3 class="underline">Хотите поработать с нами:</h3>
			<p>
    <ul >
        <li>Пишите: <a href="mailto:contact@iv-soft.ru">contact@iv-soft.ru</a></li>
        <li>Телеграм/WhatsApp: @lboss75</li>
    </ul>
			</p>
			<h3 class="underline">Кроме этого:</h3>
			<p>
    <ul >
        <li>Этот сайт не использует куки и ни как за вами не следит. Поэтому мы не вывели надоедлевого предупреждения об этом.</li>
        <li>Мы не ведём публичную жизнь в социальных сетях. Приватность наших клиентов на первом месте.</li>
        <li>Хотите узнать о нас больше, пишите на электронную почту. Мы рады общению.</li>
        <li>Мы оставляем за собой право не работать с Вами.</li>
        <li>Мы участвуем бесплатно в open source проектах только если считаем это интересным.</li>
    </ul>
			</p>
		</div>
	</div>
</div>