<div >
    <h1>Продукты:</h1>
    <h2 class="underline">Распределённая сеть хранения данных</h2>
    <p>
        <ul>
            <li><a href="/products/vds/get_started/">Обзор</a></li>
            <li><a href="/products/vds/how_it_works/">Как работает</a></li>
            <li><a href="/products/vds/">Новости</a></li>
        </ul>
    </p>
    <h2 class="underline">Разработка</h2>
    <p>
        <ul>
            <li><a href="/products/development/get_started/">Обзор</a></li>
            <li><a href="/products/development/about_us/">О Компании</a></li>
            <li><a href="/products/development/">Новости</a></li>
        </ul>
    </p>
</div>
