<div >
    <h3>Разработка</h3>
	<h2 class="underline">15 Августа 2019</h2>
    <p>
    	Новый проект на базе блокчейн сети BitCoin SV: полностью децентрализованная биржа.
    </p>
	<h2 class="underline">15 Марта 2019</h2>
    <p>
    	Новый проект на базе блокчейн сети Ethereum (<a href="https://ethereum.org/">https://ethereum.org/</a>).
		Портал сбора инвестиций для социально значимых проектов.
    </p>
	<h2 class="underline">15 Февраль 2019</h2>
    <p>
    	Новый проект на базе блокчейн сети BitShared: распределённый кошелёк биржи.
    </p>
</div>
