<div class="body-header">
    <h1 class="mdc-typography--headline1">Digital World Developer</h1>
</div>
<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">

    <div class="mdc-card card-content">
      <div class="mdc-card__primary-action demo-card__primary-action" tabindex="0">
        <div class="mdc-card__media mdc-card__media--16-9 demo-card__media" style="background-image: url('/assets/images/big_data_center_server_racks_storage_binary_analytics_by_monsitj_gettyimages.jpg');"></div>
        <div class="demo-card__primary">
          <h2 class="demo-card__title mdc-typography mdc-typography--headline6">Distributed Data Warehouse</h2>
        </div>
        <div class="demo-card__secondary mdc-typography mdc-typography--body2">Free distributed storage network for survival data</div>
        <h3 class="demo-card__subtitle mdc-typography mdc-typography--subtitle2">Anonymous, encrypted, forever</h3>
      </div>
        <div class="mdc-card__actions">
          <div class="mdc-card__action-buttons">
	    <a href="/products/vds/get_started/">
             <button class="mdc-button mdc-card__action mdc-card__action--button">
              <div class="mdc-button__ripple"></div>
              <span class="mdc-button__label">Get Started</span>
             </button>
            </a>
	          <a href="/products/vds/how_it_works/">
             <button class="mdc-button mdc-card__action mdc-card__action--button">
              <div class="mdc-button__ripple"></div>
              <span class="mdc-button__label">How is works</span>
             </button>
            </a>
	          <a href="/products/vds/">
             <button class="mdc-button mdc-card__action mdc-card__action--button">
              <div class="mdc-button__ripple"></div>
              <span class="mdc-button__label">News</span>
             </button>
            </a>
          </div>
        </div>
      </div>
    </div>
      <div class="mdc-layout-grid__cell  mdc-layout-grid__cell--span-6">

    <div class="mdc-card card-content">
      <div class="mdc-card__primary-action demo-card__primary-action" tabindex="0">
        <div class="mdc-card__media mdc-card__media--16-9 demo-card__media" style="background-image: url('/assets/images/software_house.jpg');"></div>
        <div class="demo-card__primary">
          <h2 class="demo-card__title mdc-typography mdc-typography--headline6">Software House</h2>
        </div>
        <div class="demo-card__secondary mdc-typography mdc-typography--body2">Custom software development</div>
        <h3 class="demo-card__subtitle mdc-typography mdc-typography--subtitle2">Distributed systems, Blockcahin, Machine Learning and other high technology</h3>
      </div>
        <div class="mdc-card__actions">
          <div class="mdc-card__action-buttons">
	    <a href="/products/development/get_started/">
             <button class="mdc-button mdc-card__action mdc-card__action--button">
              <div class="mdc-button__ripple"></div>
              <span class="mdc-button__label">Get Started</span>
             </button>
            </a>
	          <a href="/products/development/about_us/">
             <button class="mdc-button mdc-card__action mdc-card__action--button">
              <div class="mdc-button__ripple"></div>
              <span class="mdc-button__label">About us</span>
             </button>
            </a>
	          <a href="/products/development/">
             <button class="mdc-button mdc-card__action mdc-card__action--button">
              <div class="mdc-button__ripple"></div>
              <span class="mdc-button__label">News</span>
             </button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="mdc-layout-grid__cell"></div>
  </div>
</div>
