<div class="mdc-layout-grid">
	<div class="mdc-layout-grid__inner">
		<div
			class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
			<h1>Разработка</h1>
			<h2 class="underline">Проблемы</h2>
			<p>
				<ul>
					<li>Дороговизна разработчиков, для большинства компаний (стартапов и средних компаний),</li>
					<li>Не полная занятость высоко квалицированных ресурсов, при их дороговизне,</li>
					<li>Низкое качество продуктов, из-за нехватки денег на высоко квалицированные ресурсы,</li>
					<li>Отсутствие служб поддержки и контроля качества, из-за отсутствия опыта построения таких служб,</li>
					<li>Обучение сотрудников IT служб лучшим практикам,</li>
				</ul>
			</p>
			<h2 class="underline">Решения</h2>
			<p>
				<ul>
					<li>Выделение компании профессионально разрабатывающей продукты,</li>
					<li>Выделение бизнес части реализации и брендирования в отдельный бизнес,</li>
					<li>Мотивация Software House через выделение доли в бизнесе Business House,</li>
					<li>Выделение инициативного подразделения для разработки новых продуктов,</li>
				</ul>
			</p>
			<h2 class="underline">Наши преимущества</h2>
			<p>
				<ul>
					<li>Наличие пула высоко профессиональных специалистов IT,</li>
					<li>Рост бизнес продуктов  и команд для них,</li>
					<li>Адекватный контроль качества продуктов,</li>
					<li>Обучение новых сотрудников,</li>
				</ul>
			</p>
			<h3 class="underline">Основная схема:</h3>
			<p>
				<ul >
					<li>Услуги оказываются StartUp’ам и другим подобным бизнесам: когда надо быстро сделать прототип или вывести продукт на рынок, быстро и относительно качественно.</li>
					<li>Мы отвечаем за набор команд и производство продуктов,</li>
					<li>Типичным является выдача 20% от доли продукта в нашу сторону (в итоге мы заинтересованы в долгосрочной жизни продукта),</li>
				</ul>
			</p>
		</div>
	</div>
</div>