<div >
    <h1>Распределённая сеть хранения данных</h1>
    <h2 class="underline">15 декабря 2019</h2>
    <p>
	Выигран гран в фонде содействия развитию малых форм предприятий в научно-технической сфере (Фонд содействия инновациям)
	<a href="http://fasie.ru/">http://fasie.ru/</a>
    </p>
	<h2 class="underline">10 октября 2019</h2>
    <p>
		Новый прототип:
	</p>
	<p>
		<iframe id="ytplayer" type="text/html" width="640" height="360"
  src="http://www.youtube.com/embed/VuzGWoEsNYE?autoplay=0&origin=http://ivy-soft.com/"
  frameborder="0" />
    </p>
</div>
