<div class="mdc-layout-grid">
	<div class="mdc-layout-grid__inner">
		<div
			class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
			<h1>Распределённая сеть хранения данных</h1>
			<h2 class="underline">Данные везде</h2>
			<p><img src="/assets/images/data_is_everywhere.png" height="300em" /></p>
			<p>
				Огромное количество данных создаётся каждый день:
				<ul>
					<li>Результаты работы: рабочие документы, накопленные базы данных, данные
					корпоративных порталов, данные комерческой активности, регламентирующие документы</li>
					<li>Данные систем безопасности: данные аудита, записи видео наблюдения, записи разговоров колл-цетров
					</li>
					<li>Данные инфраструктуры: резервные копии файловых серверов и серверов баз данных</li>
				</ul>
			</p>
			<p>
				Наше решение несёт большую социальную нагрузку: оно позволяет обществу
	совместно накапливать и хранить важные для себя данные. Мы думает наши технологии
	будут очень востребованы там где ценится высокая надежность и полная
	конфиденциальность данных.
			</p>
			<h2 class="underline">Проблемы</h2>
			<p><img src="/assets/images/data_issue.png" width="400em" /></p>
			<p>
				Как сохранить данные <b>защищённо, надёжно и не дорого?</b>
				<ul>
					<li>Проблемы хранения данных:
						<ol>
							<li>Сервера ломаются,</li>
							<li>Центры данных горят, выключаются и взламываются,</li>
							<li>Компании облачного хранения банкротятся.</li>
						</ol>
					</li>
					<li>Стоимость хранения данных:<ol>
							<li>Более 1,3 рублей за Гагабайт хранимых данных,</li>
							<li>Стоимость интернет трафика.</li>
						</ol>
					</li>
					<li>Доступ к данным:
						<ol>
							<li>Центры данных находятся далеко, время доступа к данным растёт,</li>
							<li>Одни и те же данные скачиваются много раз,</li>
							<li>Данные не шифруются.</li>
						</ol>
					</li>
				</ul>
			</p>
			<p>
				В наш беспокойный
	век наше решение позволяет не заботится о мировых кризисах, банкротстве
	компаний или даже государств:  наши технологии распределённого хранения
	данных поддерживаются самими участниками общества.
			</p>
			<h2 class="underline">Решение</h2>
			<p><img src="/assets/images/solution.png" width="400em" /></p>
			<p>
				Современные P2P технологии решают много проблем:
				<ul>
					<li>Распределённая сеть не может сгореть или обанкротится,</li>
					<li>Возможность использовать неиспользуемые ресурсы компьютера снижает стоимтость
						хранения,</li>
					<li>Встроенные механизмы самоорганизации оптимизируют пути доступа к данным.</li>
				</ul>
			</p>
			<p>
				Практически у каждого человека на земле, который имеет компьютер на жестком
	диске этого компьютера есть свободное место. Кроме этого, свободное место
	есть в сотовом телефоне и других устройствах. И это свободное место не как
	не используется. Однако если мы хотим надежно сохранить важные для нас
	документы или фотографии своих детей, мы вынуждены использовать облачные
	сервисы других компаний для хранения наших данных.
			</p>
			<p>
				Тут на лицо противоречие: с одной стороны, у нас как у общества много
	свободного места для хранения наших данных, но мы его не используем,
	а используем сервисы компаний, которые могут обанкротиться или не
	соблюдают нашу конфиденциальность.
			</p>
			<p>
				Поэтому мы разработали технологию, по которой мы объединяем свободные
	ресурсы всех участников в одно большое хранилище данных, и предоставляем
	этим участникам хранить их данные распределённо у других участников сети.
	Для этого ваши данные шифруются и разрезаются на много маленьких кусочков,
	после этого эти кусочки распределяются по всем участникам таким образом,
	чтобы даже потеря некоторого количества таких кусочков не приводила
	бы к потере данных.	
			</p>
			<h2 class="underline">Спасибо</h2>
			<p>
				Проект развивается при поддержке фонда содействия развитию малых форм предприятий
	в научно-технической сфере (Фонд содействия инновациям) <a href="http://fasie.ru/">http://fasie.ru/</a>
			</p>
		</div>
	</div>
</div>